.formsignup{
    position: relative; 
    z-index: 1; 
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 r
} 

.login-page{
     width: 360px;
    padding: 8% 0 0;
    margin: auto;
} 

.backblack{
    background-color: black; 
    height: 100vh;
} 
.color{
    color: white;
} 

.btn-login{
    width: 100%; 
    background-color: seagreen;
}