 
 *{
     margin: 0; 
     padding: 0;
 }
 
 

.background-mobile{
    background-image: url('./../../../xiaomi-mi-10t-2181693.jpg'); 
    background-repeat: no-repeat;  
} 


.backgroundmobile{
    background-image: url('https://besthqwallpapers.com/Uploads/12-7-2021/169422/thumb-xiaomi-carbon-logo-4k-grunge-art-carbon-background-creative.jpg'); 
}

img{
    object-fit: contain;
}  


h4{
        color: #2c509a;
} 

p{
    font-size: 15px; 
    font-family: sans-serif; 
    color: black;
}  

.linkname{
    color: black;
} 

 
.inform{
    margin-top: 20px;
}


 
.price{
font-weight: 500;
    font-size: 16px;
    display: block;
    margin-bottom: 7px;
    text-decoration: none; 
    color: #ff8d02;    
    font-size: 22px;  
    font-family: 'emoji';
}  

.linkto{
    text-decoration: none; 
    color: wheat; 
    display: block;
} 

.mobileimage{
    object-fit: cover;
} 

.mobile_title{
    text-align: center; 
    color: white;
} 
.color{
    color: wheat; 
    font-size: 1.2rem;
}

.shortmobiledescription{ 
     width: 200px;
      color: white;
    font-size: 13px; 
    line-height: 20px;
    margin-bottom: 7px; 
    font-size: 1rem; 
    font-family: 'emoji'; 
    height: 80px; 
    overflow-x: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
} 

.mt-20{
    margin-top: 20px;
} 

 
.commentform{
    width: 50vw; 
    display: block; 
    margin: 0 auto;
} 

.commments_img{
  width: 120px; 
  height: 120px; 
  border-radius: 50%;
} 
 


 .block-center{
     margin-left: 80%;
 }
.comments{
    display: flex; 
    justify-content: space-evenly;
} 
.text{
    padding-left: 30px;
}

.name{
    font-size: 1.5rem;
    color: white;
    font-family: emoji
}  
 
.pl-20{
    padding-left: 150px;
}
  

.ml-50{
    padding-left: 50px;
}

.imagemob{
    height: 20px;
}

.btn-dark{
    background-color: black; 
    width: 220px;  
    border-radius: 1.5rem;
    
} 

.favimg{
    height: 20px;
}
 

.navbar-toggler-icon{
  background-color: white; 
  border-radius: 30%;
} 

.favimage{
    width: 120px;
} 
.favdescription{
    width: 220px;
}
 


.text{
    word-wrap: break-word; 
    width: 350px;
}

  .commentitle{
      color: white;
  } 

  .comments{
      background-color: black; 
      border-radius: 1.5rem;
  } 



  .favdescription{
      display: block; 
      margin:  0 auto;
  }