 
 *{
     margin: 0; 
     padding: 0;
 }
 
 
.container{
    padding-left: 70px;
}
.background-mobile{
    background-image: url('./../../../xiaomi-mi-10t-2181693.jpg'); 
    background-repeat: no-repeat;  
} 


.backgroundmobile{
    background-image: url('https://besthqwallpapers.com/Uploads/12-7-2021/169422/thumb-xiaomi-carbon-logo-4k-grunge-art-carbon-background-creative.jpg'); 
}

img{
    object-fit: contain;
}  


h4{
        color: #2c509a;
} 

p{
    font-size: 15px; 
    font-family: sans-serif; 
    color: black;
}  

.linkname{
    color: black;
}

 
.price{
font-weight: 500;
    font-size: 16px;
    display: block;
    margin-bottom: 7px;
    text-decoration: none; 
    color: #ff8d02;    
}  

.linkto{
    text-decoration: none; 
    color: wheat; 
    display: block;
} 

.mobileimage{
    object-fit: cover;
} 

.mobile_title{
    text-align: center; 
    color: white;
} 
.color{
    color: wheat;
}

.shortmobiledescription{ 
     width: 200px;
      color: white;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 7px;
    height: 80px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
} 

.mt-20{
    margin-top: 20px;
} 


.name{
    color: wheat;
} 


.navbar-toggler-icon{
  background-color: white; 
  border-radius: 30%;
}